<h1>Edit <%= @recipe.name %></h1>
<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Name: <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name%>"></p>
    <p>Ingredients: <input id="ingredients" type="type" name="recipe[ingredients]" value="<%= @recipe.ingredients%>"></p>
    <p>Cook Time: <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time%>"></p>
    <input type="submit" id="submit">
</form>